[submodule "projets/66B-modele_de_projet"]
	path = projets/66B-modele_de_projet
	url = https://github.com/tim-montmorency/66B-modele_de_projet.git
[submodule "projets/WillYouAct"]
	path = projets/WillYouAct
	url = https://github.com/NicolasReilly/WillYouAct
[submodule "projets/les_chatoyants"]
	path = projets/les_chatoyants
	url = https://github.com/samcard01/les_chatoyants
[submodule "projets/Spooky-tower"]
	path = projets/Spooky-tower
	url = https://github.com/Quollector/Spooky-tower
[submodule "projets/school_run"]
	path = projets/school_run
	url = https://github.com/pamelasanscartier/school_run.git
[submodule "projets/Concerto"]
	path = projets/Concerto
	url = https://github.com/Groupe-W/Concerto
